.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	text-decoration: none;
	color: $cor-txt;
	background-color: transparent;
	padding: 0px;
	height: 52px;
	line-height: normal;
	font-size: 1.5rem;
	border: 4px solid $cor2;
	font-weight: $bold;
	@include box-sizing;
	@include animacao;

	&:hover {
		text-decoration: none;
		background-color: $cor2;
		color: #ffffff;
	}

	&:disabled {
		cursor: default;
		background-color: $cor-border!important;
		color: rgba($cor-border, .5)!important;
		border-color: $cor-border!important;
	}

	&.btn-full {
		width: 100%; 
	}

	&.btn-page {
		max-width: 390px;
		width: 100%; 
		margin: 30px auto 0;
	}

	&.btn-enviar {
		width: 200px;
		font-size: 1.25rem;
		font-weight: $regular;
	}
}