.produto {
	&.list-produto {
		max-width: 250px;
		margin: 60px auto 0;

		.image-produto {
			width: 100%;
			height: 350px;

			img {
				object-fit: contain;
				width: 100%;
				height: 100%;
			}
		}

		.content-produto {
			margin-top: 20px;

			h3, p {
				font-weight: $light;
				font-size: 1.25rem;
				line-height: 1.687rem;
				color: $cor-txt;
			}

			h3 {
				text-transform: uppercase;
			}
		}

	}

	&.detalhe-produto {
		.image-produto, .content-txt {
			margin-top: 60px;
		}

		.image-produto {
			text-align: center;

			img {
				width: 100%;
			}
		}

		@include media(920){
			.produto-titulo {
				order: 1;
			}
			.produto-imagem {
				order: 2;
			}
			.produto-conteudo {
				order: 3
			}
		}
	}
}

.msg-none-post {
	margin: 60px 0;
}

.post {
	&.list-post {
		max-width: 450px;
		margin: 60px auto 0;

		.image-post {
			width: 100%;
			height: 485px;

			img {
				object-fit: cover;
				width: 100%;
				height: 100%;
			}

			@include media(920){
				margin: 0 -25px;
				width: auto;
			}
		}

		.content-post {
			margin-top: 20px;

			h3 {
				font-weight: $bold;
				font-size: 1.25rem;
				line-height: 1.687rem;
				color: $cor-txt;
				text-transform: uppercase;
			}
		}

	}

	&.detalhe-post {
		.produto.list-produto {
			margin-top: 0;
			max-width: 250px;

			.image-produto {
				width: 100%;
				height: 286px;

				img {
					object-fit: contain;
					width: 100%;
					height: 100%;
				}
			}
		}

		.social {
			ul {
				display: flex;
				align-items: center;
				justify-content: center;
				margin-top: 30px;

				li {
					margin: 0 15px;
				}
			}
		}
	}
}

.harmonizacao {
	.item-harmonizacao {
		margin: 0 0 60px;

		.imagem-item {
			width: 200px;
			height: 200px;
			display: block;
			margin: 0 auto;

			img {
				object-fit: contain;
				width: 100%;
				height: 100%;
			}
		}

		h2, p {
			font-size: 20px;
			line-height: 20px;
			text-align: center;
		}

		h2 {
			margin: 20px 0 5px;
			text-transform: uppercase;
			font-weight: $bold;
		}
	}
}