$width: 1160px;
$padding-section: 35px;
$padding-container: 40px;
$padding-col: 15px;

$font-size: 1.25rem;
$line-height: 1.5rem;

// FONTES
$font-family: 'Roboto', sans-serif;
$font-destaque: 'Noto Sans', sans-serif;

$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 900; 


// texto
$cor-txt: #272727;
$cor-txt-claro: #8B8B94; 

// borda
$cor-border: #E8E8E8;

// layout
$cor1: #ffb71b; // amarelo
$cor2: #238f7f; // verde
$cor3: #272727; // preto
$success: #8EC044;
$error: #FA5357;

// background
$bg-escuro: #1E201C;
$bg-claro: #fefefe;

// cores do tema
$colors: (
	cor1: $cor1,
	cor2: $cor2,
	cor3: $cor3,
	branco: #ffffff,
	cinza-claro: #f1f3f8,
	cinza-medio: #f1f3f8
);