.footer {
	padding: 70px 0;
	margin-top: 70px;

	@include media(920){
		padding: 40px 0;
	}

	.container {
		background-image: url('../images/bg-footer.png');
		background-position: top left;
		background-repeat: no-repeat;
		background-size: contain;
		padding-left: 230px;
		padding-right: 100px;

		@include media(920){
			background-image: none;
			padding: 0 40px;

			.row {
				flex-direction: column-reverse;

				[class*="col-"] {
					flex: 0 0 100%;
					max-width: 100%;
				}
			}
		}
	}

	.box-nav-footer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		@include media(920){
			.estrela-nav {
				display: none;
			}

			.nav-footer {
				display: none;
			}
		}
	}

	h3 {
		&.destaque {
			color: $cor3;
		}
	}

	.localizacao-mobile {
		display: none;
		font-size: 18px;
		line-height: 25px;
		text-align: center;
		color: #FFFFFF;
		margin: 25px 0 60px;

		img {
			display: block;
			margin: 0 auto 5px;
		}

		@include media(920){
			display: block;
		}
	}
}