body * {
	//color: $cor-txt;
	font-weight: $light;
	font-size: $font-size;
	line-height: $font-size+.5rem;
}

strong, b {
	font-weight: $bold;
}

h1, h2, h3 {
	font-family: $font-destaque;
	font-weight: $bold;
}

h1, h2 {
	font-size: 2.625rem;
	line-height: normal;
	color: $cor-txt;

	a {

	}
}

h2 {
	margin-bottom: 30px;
}

h3 {
	font-size: 2.7rem;
	line-height: 2.7rem + .5rem;
	font-weight: $bold;

	@include media(920){

	}
}

h4 {
	font-size: 1.25em;
	color: $cor-txt;
	font-weight: $regular;
}

h1, h2, h3 {
	&.destaque {
		color: $cor1;
	}
}

p {
	display: block;
	font-weight: $light;
	font-size: $font-size;
	line-height: $line-height;
	color: $cor-txt;

	a {
		color: $cor1;
		font-weight: $bold;

		&:hover {
			text-decoration: underline;
		}
	}

	&:not(:last-child){
		margin-bottom: 15px;
	}
}

a {
	text-decoration: none;
	@include animacao;

	&.underline {
		text-decoration: underline;
	}

	&.inline {
		&:hover {
			text-decoration: underline;
		}	
	}
}

img {
	&.img-block{
		display: block;
		max-width: 100%;
		width: 100%;
	}
}
